.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 4%;
    background-color: #fbc04b;
    height: 6rem;
}
.navbar .logo{
    width:max(7%,80px)
}
.navbar .profile{
    width:60px;
    border-radius: 9999px;
}